{% load render_bundle from webpack_loader %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon TCG Proxy Builder</title>
</head>
<body>
  <div id="app">
    <router-view></router-view>
  </div>
    {% render_bundle 'main' %}
</body>
</html>
