<h1>Cards with multiple arts</h1>

{% for key, cards in cards.iteritems %}
    <h2> {{ cards.0.name  }} </h2>
    {% for card in cards %}
        <a href="/admin/proxymon/card/{{ card.id  }}/">
            <img src="{{ card.imageUrl }}" width="245" />
        </a>
    {% endfor %}
    <hr>
{% endfor %}
