header {
  background: #185f16;
  color: white;
  height: 120px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
}

.fa-check {
  color: green;
}

.fa-times-circle {
  color: red;
}

.center {
  text-align: center;
}

.set-info ul, .set-operations ul {
  list-style: none;
  line-height: 30px;
}

.cards {
  list-style: none;
}

h3 {
  text-align: center;
}
