    <h1>Card List</h1>

    {% if card_list %}
    {% for card in card_list %}
    <img src="{{card.imageUrl}}" />
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no cards in the library.</p>
    {% endif %}       
