<template>
  <div class="container">

    <header>
      <h1> Set <span class="header-brand-name">Tool Admin</span> </h1>
    </header>
    <div class="row">
      <div class="col">
        <set-list-table></set-list-table>
      </div>
    </div>
  </div>
</template>


<script>
import SetListTable from './SetListTable.vue'

export default {
  components: {
    SetListTable
  }
}
</script>

<style>
</style>
