<template>
    <div id="app">
      <h1> Proxymon <span class="autofill" v-on:click="autofill">&nbsp;</span></h1>

      <input v-model="name" type="text" class="name" placeholder="Give your deck a name" size="75"  /><br />
      <textarea v-model="decklist" placeholder="Paste your decklist"  cols="75" rows="40"></textarea><br />
      <input type="submit" class="btn" value="Submit" v-on:click="submit" />

    </div>
</template>

<script>
  export default {
    name: 'app',
    data() {
      return {
        decklist: '',
        name: '',
      }
    },
    methods: {
      submit() {
        if(this.decklist) {
          this.axios.post('api/create/', {
            decklist: this.decklist,
            name: this.name
          }).then(response => {
            let id = response.data.id
            this.$router.push('/deck/' + id)
          })
        }
      },

      autofill() {
        this.name = 'Example deck'
        this.decklist = `****** Pokémon Trading Card Game Deck List ******

##Pokémon - 27

* 2 Shaymin-EX ROS 77
* 3 Klefki STS 80
* 4 Combee AOR 9
* 4 Vespiquen AOR 10
* 3 Blitzle BKP 48
* 3 Zebstrika BKP 49
* 2 Trubbish BKP 56
* 2 Garbodor BKP 57
* 4 Unown AOR 30

##Trainer Cards - 29

* 1 Ace Trainer AOR 69
* 2 Lysandre AOR 78
* 4 Acro Bike PRC 122
* 2 N DEX 96
* 1 Super Rod BKT 149
* 2 Special Charge STS 105
* 1 Forest of Giant Plants AOR 74
* 1 Revitalizer GEN 70
* 3 Float Stone BKT 137
* 4 Ultra Ball FCO 113
* 4 Professor Sycamore PHF 101
* 4 VS Seeker PHF 109

##Energy - 4

* 4 Double Colorless Energy PHF 111

Total Cards - 60

****** Deck List Generated by the Pokémon TCG Online www.pokemon.com/TCGO ******`
      }
    }
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

input.name {
    margin-bottom: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.autofill {
  cursor: pointer;
}

.btn {
  background: #33e817;
  background-image: -webkit-linear-gradient(top, #33e817, #2aad13);
  background-image: -moz-linear-gradient(top, #33e817, #2aad13);
  background-image: -ms-linear-gradient(top, #33e817, #2aad13);
  background-image: -o-linear-gradient(top, #33e817, #2aad13);
  background-image: linear-gradient(to bottom, #33e817, #2aad13);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 33px;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #33e817;
  text-decoration: none;
}

textarea {
  margin-bottom: 20px;
}
</style>
