<template>
  <div class="card">
    <img :src="imageUrl" />
  </div>
</template>

<script>
export default {
  name: 'card',
  data() {
    return {
    }
  },
  props: ['imageUrl', 'deckId', 'cardId'],
}
</script>

<style>
.card {
  display: inline;
}
</style>
