<template>
    <div class="main">
      <header>
        <h2>Here's your deck:</h2>
        <h3> <span v-if="name">{{name}}: </span> {{ cards.length }} cards ({{ pokemons }} Pokémons, {{ trainers }} Trainers &amp; {{ energies }} Energies)</h3>
        <div class="navigation">
          <router-link to="/">Back to front page</router-link>
        </div>
        <div class="errors" v-if="errors">
            <h3>Errors found while creating this deck:</h3>
            {{ errors }}
        </div>
      </header>

      <Card v-for="card in cards" :imageUrl="card.imageUrl" :deckId="id" :cardId=card.id :key="card.id"></Card>
      <a class="footer" href="javascript:window.print()">Print deck</a>
    </div>
</template>

<script>
  import {_} from 'vue-underscore';
  import Card from './Card.vue';

  export default {
    name: 'deckview',
    props: {
      id: {
        type: String,
        default: ''
      }
    },
    data() {
      return {
        cards: [],
        errors: '',
        name: '',
        pokemons: 0,
        trainers: 0,
        energies: 0
      }
    },

    mounted() {
      this.axios.get('/api/deck/' + this.id + '/')
           .then(response => {
             this.cards = response.data.cards
             this.errors = response.data.errors
             this.name = response.data.name

             this.pokemons = _.filter(this.cards, d => d.supertype == 'Pokémon').length
             this.trainers = _.filter(this.cards, d => d.supertype == 'Trainer').length
             this.energies = _.filter(this.cards, d => d.supertype == 'Energy').length
           })
           .catch(error => {
             this.errors = 'Deck ' + this.id + ' not found'
           })
    },

    components: {
      Card
    }

  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
  body, html, img, a { border: none; margin: 0; padding: 0; }
  h2 {
    text-align: center;
  }

  h3 {
    font-size: 0.9em;
    font-weight: 300;
  }

  h3 span {
    font-weight: 700
  }
  img { height: 309px; margin: 0 1px 1px 0; width: 225px; }
  .footer {
      display: block;
      position: fixed;
      width: 100%;
      text-align: center;
      height: 50px;
      line-height: 50px;
      background: red;
      color: white;
      font-weight: 700;
      font-size: 20px;
      text-decoration: none;
      bottom: 0;
      text-transform: uppercase;
  }

  img { height: 316px; margin: 0 1px 1px 0; width: 230px; }

  .navigation {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .errors {
    color: white;
    background: red;
    width: 60%;
    margin: 0 auto;
  }

  @media print {
    #app { margin-top: 0px; text-align: left;}
    .errors { display: none; }
    header { display: none; }
    .footer { display: none; }
    #app {
      margin: 0
    }
  }
</style>
