<template>
  <div>
    <h2>Featured Decks</h2>

    <ul>
      <li v-for="deck in featuredDecks">
        <a :href="'/deck/' + deck.id">{{deck.name}}</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'featured',
  data() {
    return {
      featuredDecks: []
    }
  },

  mounted() {
    this.axios.get('/api/featured/')
      .then(response => {
        console.log(response)
        this.featuredDecks = response.data
    })
  }
}
</script>

<style>

</style>
