<template>
    <div class="main">

      <img src="http://orig15.deviantart.net/3ca7/f/2010/249/2/9/pokeballs_by_napsterking-d2y702a.png">
      <h1>Sorry but this Poke Ball is empty.</h1>

      <router-link to="/">Back home</router-link>
    </div>
</template>

<script>

  export default {
    name: 'pagenotfound',
  }
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

img {
  width: auto;
}
</style>
