<template>
  <div>
    <label for="search">Search for a card: </label><input v-on:keyup="search()" v-model="search_term" name="search" size="70">
    <br /><br />
    <span class="card" v-for="card in found_cards"><img :alt="card.name" :src="card.imageUrl" /></span>
  </div>

</template>


<script>

export default {
  name: 'search',
  data() {
    return {
      search_term: '',
      found_cards: [],
      showModal: false
    }
  },

  methods: {
    search() {
      if (this.search_term.length > 3 || this.search_term === 'N') {
        this.axios.get('/api/search/' + this.search_term + '/')
          .then(response => {
            this.found_cards = response.data
          })
      }
    }
  },

}


</script>

<style>

</style>
