<template>
  <div class="container">

    <header>
      <h1> Set <span class="header-brand-name">Tool Admin</span> </h1>
      <h2> {{ set.name }} </h2>
    </header>

    <router-link to="/admin/tools/sets/">Back to set list</router-link>

    <div class="row">
      <div class="col">

        <div class="set-info">
          <h2> Status </h2>
          <hr>
          <ul>
            <li><strong>Cards in database:</strong> {{ set.total_cards }}</li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">

        <div class="set-operations col-4">
          <h2> Operations </h2>
          <hr>
          <table class="table">
              <thead>
                <th>Operation</th>
                <th>Execute</th>
                <th>Show/Hide</th>
              </thead>
              <tbody>
                <tr>
                  <td>Load local</td>
                  <td @click="get_db()"><i class="fa fa-refresh"></i> </td>
                  <td>
                    <i v-if="!show.in_db" @click="toggle('in_db')" class="fa fa-eye"></i>
                    <i v-if="show.in_db" @click="toggle('in_db')" class="fa fa-eye-slash"></i>
                  </td>
                </tr>
                <tr>
                  <td>Redownload all cards</td>
                  <td @click="toggle('download_cards')"><i class="fa fa-download"></i> </td>
                  <td>
                    <i v-if="!show.download_cards" @click="toggle('download_cards')" class="fa fa-eye"></i>
                    <i v-if="show.download_cards" @click="toggle('download_cards')" class="fa fa-eye-slash"></i>
                  </td>
                </tr>
                <tr>
                  <td>Add a card</td>
                  <td @click="toggle('add_card')"><i class="fa fa-plus"></i> </td>
                  <td>
                    <i v-if="!show.add_card" @click="toggle('add_card')" class="fa fa-eye"></i>
                    <i v-if="show.add_card" @click="toggle('add_card')" class="fa fa-eye-slash"></i>
                  </td>
                </tr>
                </tr>
              </tbody>
          </table>
        </div>
        <div class="col-8">
          <div v-if="show.in_db">
            <h3> In Local Database </h3>
            <set-cards-table :set="set"></set-cards-table>
          </div>
          <div v-if="show.add_card">
            <h3> Add a card to this set </h3>
            <form>
              <div class="form-group row">
                <label for="name" class="col-3 col-form-label">Name</label>
                <div class="col-7">
                  <input v-model="new_card.name" type="text" name="name" class="form-control" placeholder="Name of the card" required> </input>
                </div>
              </div>

              <div class="form-group row">
                <label for="supertype" class="col-3 col-form-label">Supertype</label>
                <div class="col-7">
                  <select class="custom-select" v-model="new_card.supertype" required>
                    <option value="Pokémon">Pokemon</option>
                    <option value="Trainer">Trainer</option>
                    <option value="Energy">Energy</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="number" class="col-3 col-form-label" required>Number</label>
                <div class="col-7">
                  <input v-model="new_card.number" type="text" name="number" class="form-control" placeholder="Number"></input>
                </div>
              </div>

              <div class="form-group row">
                <label for="ptcgo" class="col-3 col-form-label" required>PTCGO Code</label>
                <div class="col-7">
                  <input v-model="new_card.ptcgo_code" type="text" class="form-control" placeholder="PTCGO Code" name="ptcgo"></input>
                </div>
              </div>

              <div class="form-group row">
                <label for="imageUrl" class="col-3 col-form-label" required>Image Url</label>
                <div class="col-7">
                  <input v-model="new_card.imageUrl" type="url" class="form-control" placeholder="URL" name="imageUrl"></input>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-2 offset-8">
                  <input class="btn btn-primary" type="submit" @click="add_new_card()" />
                </div>
              </div>

            </form>
          </div>
          <div v-if="show.download_cards">
            <h3> Download all cards </h3>
            <div class="download_cards">
              <hr>
              <p>Are you sure you want to delete everything from the set and redownload?</p>
              <button @click="download_all()" type="button" class="btn btn-success">Yes</button>
              <button type="button" class="btn btn-danger">No</button>
              <p v-if="show.loading_cards">Loading...</p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</template>

<script>

import SetCardsTable from './SetCardsTable.vue'
export default {
  name: 'setAdmin',
  data() {
    return {
      set: {
        total_cards: 0,
      },
      in_db: [],
      in_api: [],
      show: {
        in_db: true,
        add_card: false,
        download_cards: false,
        loading_cards: false
      },
      add_card: {
        query: '',
        results: []
      },
      new_card: {
        name: '',
        number: '',
        imageUrl: '',
        supertype: '',
        ptcgo_code: ''
      }
    }
  },

  methods: {
    get_db() {
      this.axios.get('/api/cards/?set=' + this.code)
      .then(response => this.in_db = response.data
      )
    },

    get_api() {
      this.axios.get('https://api.pokemontcg.io/v1/cards?pageSize=500&setCode=' + this.code)
      .then(response =>
        this.in_api = response.data.cards.sort((a,b) => Number(a.number) > Number(b.number) ? 1 : -1)
      )
    },

    add_new_card() {
      this.axios.post('/api/cards/', {
        card: this.new_card,
        setCode: this.set.code
      })
      .then(response => console.log(response))
      .catch(error => console.log(error))
    },

    toggle(field) {
      let keys = Object.keys(this.show)
      keys.forEach(function(f){
        if (f == field) {
          this.show[f] = !this.show[f]
        }
        else {
          this.show[f] = false
        }
      }.bind(this))
    },

    download_all() {
      this.axios.post('/api/set/reload/', {
        'code': this.set.code,
        'prompt': 'yes'
      })
      .then(response => console.log(response))
      .catch(error => console.log(error))
    }
  },

  mounted() {
      this.axios.get('/api/admin/set/' + this.code + '/')
      .then(response => this.set = response.data)
      .catch(error => console.log('404'))
  },

  props: {
    code: {
      type: String,
      default: ''
    }
  },

  components: {
    SetCardsTable
  }

}
</script>

<style>

.download_cards {
  text-align: center;
}

.download_cards button {
  margin-left: 20px;
}

.download_cards hr {
  width: 40%;
}

</style>
