<template>
  <vuetable ref="vuetable"
    :api-url="api_url"
    :fields="fields"
    pagination-path=""
  ></vuetable>
</template>

<script>
  import Vuetable from 'vuetable-2/src/components/Vuetable.vue'

  export default {
    components: {
      Vuetable
    },

    data() {
      return {
        fields: [
        {
          name: 'name',
          title: 'Name'
        },
        {
          name: 'id',
          title: 'ID'
        },
        {
          name: 'imageUrl',
          title: 'Image URL',
          callback: 'urlify'
        }
        ]
      }
    },

    computed: {
      api_url() {
        return 'http://127.0.0.1:8000/api/cards/?set=' + this.set.code
      }
    },

    methods: {
      urlify(attribute) {
        return '<a target=_blank href="' + attribute + '">' + attribute + '</a>'
      }
    },

    props: {
      set: {
        default: {},
        type: Object
      }
    }
  }
</script>
