<template>
  <vuetable ref="vuetable"
    :api-url="api_url"
    :fields="fields"
    pagination-path=""
  >
  <template slot="code" slot-scope="props">
    <router-link :to="{name: 'set', params: { code: props.rowData.code}}"> {{ props.rowData.code }}</router-link>
  </template>
  </vuetable>
</template>

<script>
  import Vuetable from 'vuetable-2/src/components/Vuetable.vue'

  export default {
    components: {
      Vuetable
    },

    data() {
      return {
        fields: [
        {
          name: 'name',
          title: 'Set name'
        },
        {
          name: 'total_cards',
          title: '# of cards'
        },
        {
          name: '__slot:code',
          title: 'Edit',
        },
        {
          name: 'standard_legal',
          title: 'Standard',
          callback: 'checkmark'
        },
        {
          name: 'expanded_legal',
          title: 'Expanded',
          callback: 'checkmark'
        },
        ]
      }
    },

    computed: {
      api_url() {
        return 'http://127.0.0.1:8000/api/set/'
      }
    },

    methods: {
      checkmark(legality) {
        if(legality) {
          return '<i class="fa fa-check"></i>'
        }
        else {
          return '<i class="fa fa-times-circle"></i>'
        }
      }
    },

  }
</script>
