{% load static %}
{% load render_bundle from webpack_loader %}

<!doctype html>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Proxymon Admin Tools - {% block title %}{% endblock %}</title>

    <meta charset='utf-8'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="{% static 'css/tools.css' %}">
  </head>
  <body>

    <div id="app">
      <router-view></router-view>
      {% block body %}

      {% endblock %}
    </div>
    {% block script %}{% endblock %}

    {% render_bundle 'main' %}
  </body>
</html>
